#map {
    width: "100%";
    height: 100vh;
}
.control_pannel {
    z-index: 1000;
    width: 100;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 50;
}

.custom {
    background: black;
}

.article_marker {
    background-image: url("./img/sample_marker1.png");
    width: 100px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
.shd {
}
